body{
    background-color: #fcfcf4;
}

.container-header{
    width: 100%;
    height: 200px;
    background-color: aquamarine;
}

.container-section-promo{
    /* display: flex; 
    width: 70%;
    margin: 100px auto;
    align-items: center; /*alinear hijos al centro  */
    display: flex;
    align-items: center;
    margin: 20px;
}

.item-article{
    /* width: 30%;
    height: 100px;
    background-color: aquamarine; */
    text-align: justify;
}
.item-article p{
    color: #343434;
    font-family: Verdana;
}

.titulo-publicidad{
    font-family: sans-serif;
    color: #025157;
}

.form-publicidad p {
    color: #025157;
}

.contenedor-boton {
    height: 45px;
    margin-bottom: 50px;
}

.contenedor-boton button{
    color: white;
    background-color: #025157;
    border-radius: 0px 5px 5px 0px;
    border: solid rgb(219, 219, 219) 1px;
    height: 100%;
    font-size: 14px;
    margin-left: -4px;
    padding: 15px 15px;
}
.contenedor-boton input{
    border-radius: 5px 0px 0px 5px;
    border: solid rgb(219, 219, 219) 1px;
    height: 100%;
    font-size: 14px;
    padding-left: 15px;
}
.article-video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-publicidad{
    display: flex;
}
.article-video img{
    width: 120px;
}